extends ../pug/templates/main

block vars
	- var title = "Links";
	- var headerClasses = ['header1'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		//- <h2><a target="_blank" href="gui.html">gui.html</a></h2> 
		<br>
		<br>
		<h2><a target="_blank" href="index.html">index.html</a></h2> 
		<h2><a target="_blank" href="agents.html">agents.html</a></h2> 
		<h2><a target="_blank" href="contacts.html">contacts.html</a></h2> 
		<h2><a target="_blank" href="excursion_tours.html">excursion_tours.html</a></h2> 
		<h2><a target="_blank" href="excursion_tour.html">excursion_tour.html</a></h2> 
		<h2><a target="_blank" href="hotels.html">hotels.html</a></h2> 
		<h2><a target="_blank" href="hotel.html">hotel.html</a></h2> 
		<h2><a target="_blank" href="registration.html">registration.html</a></h2> 
		<h2><a target="_blank" href="private_cabinet.html">private_cabinet.html</a></h2> 
		<h2><a target="_blank" href="select_tour.html">select_tour.html</a></h2> 
		<h2><a target="_blank" href="select_tour2.html">select_tour2.html</a></h2> 
		<h2><a target="_blank" href="select_tour3.html">select_tour3.html</a></h2> 
		<br>
		<br>
		<h2><a target="_blank" href="pdf/pdf_1.html">pdf1.html</a></h2> 
		<h2><a target="_blank" href="pdf/pdf_2.html">pdf2.html</a></h2> 
		<h2><a target="_blank" href="pdf/pdf_3.html">pdf3.html</a></h2> 