extends ../pug/templates/main

block vars
	- var title = "Подбор тура: Заполнение информации";
	- var headerClasses = ['header1'];
	//- - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - select_tour_container - - - - - - - - - - - - - - - -

		.select_tour_container.indent_2
			.container
				.row
					.col-lg-8.col-lg-offset-2
						h2.al_center.mb56 Подбор железнодорожного тура

						.step_container
							a.link-xl.link-blue-lite.bd(href="select_tour.html") 01. Подбор тура
							a.link-xl.link-blue-lite.bd.current(href="select_tour2.html") 02. Заполнение информации
							a.link-xl.link-blue-lite.bd(href="select_tour3.html") 03. Бронирование

				.row.select_tour_wrap.mb25
					.col-lg-4.col-lg-offset-1.col-md-6.col-sm-6
						div.group_info
							h4.mb13 Анапа
							h6.md.mb20 База отдыха «Чайка»
							ul.group_list
								li
									div ФИО
									div Иванов Иван Иванович
								li
									div Период тура
									div 15.08.2018 — 23.06.2018
								li
									div Категория номера
									div Эконом
								li
									div Тип тура
									div Железнодорожный
								li
									div Количество человек
									div 12
								li
									div Тип размещения
									div.group_list_item
										div 1 номер — 2 взрослых
										div 1 номер — 1 взрослых
										div 1 номер — 2 взрослых
										a.link-bd.reg(href="javascript:;") + Добавить номер
							div.group_price.m_b_zero
								span Сумма к оплате
								span 84 000 рублей

					.col-lg-4.col-lg-offset-1.col-md-5.col-md-offset-1.col-sm-6.top_767
						div.group_img2
							img(src="images/fountain.png", alt="")

				.row
					.col-lg-10.col-lg-offset-1.col-md-12
						h6.fz16.mb37.md.al_center Данные туристов

						table.tourist_table
							thead
								tr
									th № п/п
									th Пол
									th Фамилия
									th Имя
									th Отчество
									th Дата рождения
									th Паспорт
									th Телефон
									th E-mail
							tbody
								tr
									td(data-table-title='№ п/п:') 1
									td(data-table-title="Пол")
										.xs: input(type="text")
									td(data-table-title="Фамилия")
										.lg: input(type="text")
									td(data-table-title="Имя")
										.lg: input(type="text")
									td(data-table-title="Отчество")
										.lg: input(type="text")
									td(data-table-title="Дата рождения")
										.lg: input(type="text")
									td(data-table-title="Паспорт")
										div.df.lg
											.sm: input(type="text")
											.md: input(type="text")
									td(data-table-title="Телефон")
										.lg: input(type="text")
									td(data-table-title="E-mail")
										.lg: input(type="text")
								tr
									td(data-table-title='№ п/п:') 2
									td(data-table-title="Пол")
										.xs: input(type="text")
									td(data-table-title="Фамилия")
										.lg: input(type="text")
									td(data-table-title="Имя")
										.lg: input(type="text")
									td(data-table-title="Отчество")
										.lg: input(type="text")
									td(data-table-title="Дата рождения")
										.lg: input(type="text")
									td(data-table-title="Паспорт")
										div.df.lg
											.sm: input(type="text")
											.md: input(type="text")
									td(data-table-title="Телефон")
										.lg: input(type="text")
									td(data-table-title="E-mail")
										.lg: input(type="text")

						.tourist_settings
							.tourist_settings_item
								h6.tourist_settings_title Тип вагона
								.coach_checked_place
									span.js-ckeckForm.md(data-toggle-check="off") Плацкарт
									input#coach_checkbox(type="checkbox")
									label(for="coach_checkbox")
									span.js-ckeckForm.md(data-toggle-check="on") Купе
							.tourist_settings_item
								span.tourist_settings_square.square_current
								span Выбранные места
							.tourist_settings_item
								span.tourist_settings_square.square_empty
								span Свободные места
							.tourist_settings_item
								span.tourist_settings_square.square_active
								span Занятые места

						.railway_container
							.railway_box_wrap(data-toggle-check="off")
								.railway_box
									.railway_box_item
										.railway_box_top.mb40
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

										.railway_box_bottom
											.railway_section_place.reserved н
											.railway_section_place.first_place в

									.railway_box_item
										.railway_box_top.mb40
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

										.railway_box_bottom
											.railway_section_place.last_place н
											.railway_section_place.first_place в

									.railway_box_item
										.railway_box_top.mb40
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

										.railway_box_bottom
											.railway_section_place.last_place н
											.railway_section_place.first_place в

									.railway_box_item
										.railway_box_top.mb40
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

										.railway_box_bottom
											.railway_section_place.last_place н
											.railway_section_place.first_place в

									.railway_box_item
										.railway_box_top.mb40
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

										.railway_box_bottom
											.railway_section_place.last_place н
											.railway_section_place.first_place в

									.railway_box_item
										.railway_box_top.mb40
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

										.railway_box_bottom
											.railway_section_place.last_place н
											.railway_section_place.first_place в

									.railway_box_item
										.railway_box_top.mb40
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

										.railway_box_bottom
											.railway_section_place.last_place н
											.railway_section_place.first_place в

									.railway_box_item
										.railway_box_top.mb40
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

										.railway_box_bottom
											.railway_section_place.last_place н
											.railway_section_place.first_place в

									.railway_box_item
										.railway_box_top.mb40
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

										.railway_box_bottom
											.railway_section_place.last_place н
											.railway_section_place.first_place в

							.railway_box_wrap(data-toggle-check="on")
								.railway_box
									.railway_box_item
										.railway_box_top
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

									.railway_box_item
										.railway_box_top
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

									.railway_box_item
										.railway_box_top
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

									.railway_box_item
										.railway_box_top
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

									.railway_box_item
										.railway_box_top
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

									.railway_box_item
										.railway_box_top
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20.reserved в
												.railway_section_place.last_place н

									.railway_box_item
										.railway_box_top
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

									.railway_box_item
										.railway_box_top
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

									.railway_box_item
										.railway_box_top
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н
											div: img(src="images/icons/black_cloud.svg", alt="")
											div
												.railway_section_place.first_place.mb20 в
												.railway_section_place.last_place н

				.al_center
					a.btn_orange.btn_w2.btn_size3.btn_uppercase.md(href="javascript:;") Перейти к бронированию

		// - - - - - - - - - - - - - End of select_tour_container - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================



//- Popup Start     ============================================


block popup

	// Popup Start     ============================================

	div(class="d_none")

		#request_popup.arcticmodal_container_box
			.arcticmodal-close &times;
			div Для отмены заявки, свяжитесь с нами по телефону +7 (819) 987-90-90

		#enter_popup.arcticmodal_container_box.popup_indent
			.arcticmodal-close &times;
			h3.md.al_center.mb30 Вход для агентов
			form.agent_registration_form
				.form_row.mb20
					.form_label E-mail
					input.form_input(type="text")
				.form_row.mb30
					.form_label Пароль
						span (
							a.link-lg.link-blue-lite.link-bd(href="javascript:;") Забыли пароль?
							|)
					input.form_input.mb10(type="text")
					div.al_right: a.link_reg.link-sm2.link-blue-lite.link-bd(href="javascript:;") Зарегистрироваться
				.form_button
					button.btn_orange.btn_w Войти

		#pay_popup.arcticmodal_container_box.popup_indent2.al_center
			.arcticmodal-close &times;
			h2.md.mb40 Оплата
			a.btn_w5.btn-blue.btn_size6.mb17(href="javascript:;") Оплата картой
			a.btn_w5.btn-blue.btn_size6(href="javascript:;") Оплата по реквизитам

	// Popup End       ============================================


//- Popup End       ============================================