//- block vars
footer(id="footer" class=footerClasses)

	.container
		.row
			.col-lg-10.col-lg-offset-1
				.footer_container
					.logo: a(href="index.html") ИМПЕРИЯ <br>ТУРИЗМА и К
					.footer_box_wrap
						div.footer_box
							ul.footer_list
								li
									a(href="javascript:;") Подбор тура
								li
									a(href="javascript:;") Экскурсионные туры
								li
									a(href="javascript:;") Черное море
								li
									a(href="javascript:;") Агенствам
								li
									a(href="javascript:;") Туристам
								li
									a(href="javascript:;") Контакты
						div.footer_box
							ul.footer_list
								li
									a(href="javascript:;") Анапа
								li
									a(href="javascript:;") Геленджик
								li
									a(href="javascript:;") Сочи
								li
									a(href="javascript:;") Сочи
								li
									a(href="javascript:;") Сочи
						div.footer_box
							div.footer_info
								div.footer_tel
									p Телефоны:
									p +7 (890) 890-98-98
									p +7 (890) 890-98-98
								div.footer_emeil
									p Электронная почта:
									p pochta@yandex.ru
						div.footer_box
							div.footer_info
								div.footer_adress
									p Адрес:
									p г. Казань
									p Декабристов, 81Б
								div.footer_time
									p Часы работы:
									p пн-пт 9:00-20:00

	// - - - - - - - - - - - - - End of footer_container - - - - - - - - - - - - - - - -