//- block vars
header#header(class=headerClasses)

	.container
		.row
			.col-xs-12
				.header_container
					// - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - -

					.logo: a(href="index.html") ИМПЕРИЯ <br>ТУРИЗМА и К

					// - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - -

					//  - - - - - - - - - - - - - Page Navigation - - - - - - - - - - - - - - - -

					nav#primary_nav.navigation_menu
						.js-btn-menu: span
						menu#menu.menu
							li.menu_item
								a.menu_link(href="select_tour.html") Подбор тура
							li.menu_item
								a.menu_link(href="excursion_tours.html") Экскурсионные туры
							li.menu_item
								a.menu_link(href="javascript:;") Черное море
							li.menu_item
								a.menu_link(href="javascript:;") Агенствам
							li.menu_item
								a.menu_link(href="javascript:;") Туристам
							li.menu_item
								a.menu_link(href="contacts.html") Контакты

					//  - - - - - - - - - - - - - End of Page Navigation - - - - - - - - - - - - - - - -